/*
This is a scoped CSS file for the main layout.
Styles defined here will be bundled into myapp.styles.css
*/

body {
    background-color: #f8f9fa; /* A very light grey background */
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
