
## General
.DS_Store
*.log
npm-debug.log*

## Project
/bin
/obj

## Database
*.db
*.db-shm
*.db-wal

obj/
bin/
.vs/
*.db


# ASP.NET
appsettings.Development.json

# Others
*.pdb
*.dll


# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/
