@model myapp.Models.ViewModels.CreateRequestViewModel

<div id="material-fields-container" style="display: none;">
    <hr class="my-4">
    <h5 class="mb-3">Material Information</h5>

    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,DistributionChanel,AddStorage,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="ItemCode" class="control-label"></label>
                <input asp-for="ItemCode" class="form-control" />
                <span asp-validation-for="ItemCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="EnglishMatDescription" class="control-label">English Mat/Description (max 40)</label>
                <input asp-for="EnglishMatDescription" class="form-control" maxlength="40" />
                <span asp-validation-for="EnglishMatDescription" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="FG,RM,IPO,ToolingB,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                 <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
        </div>
         <div class="col-md-4" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="BaseUnit" class="control-label"></label>
                <input asp-for="BaseUnit" class="form-control" />
                <span asp-validation-for="BaseUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="MaterialGroup" class="control-label"></label>
                <input asp-for="MaterialGroup" class="form-control" />
                <span asp-validation-for="MaterialGroup" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,IPO,Passthrough,CrossPlantPurchase,DistributionChanel">
            <div class="form-group">
                <label asp-for="Plant" class="control-label"></label>
                <input asp-for="Plant" class="form-control" />
                <span asp-validation-for="Plant" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,DistributionChanel,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="DivisionCode" class="control-label"></label>
                <input asp-for="DivisionCode" class="form-control" />
                <span asp-validation-for="DivisionCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="FG,SM,RM,ToolingB,ToolingBFG,ToolingBPU,DistributionChanel,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="ProfitCenter" class="control-label"></label>
                <input asp-for="ProfitCenter" class="form-control" />
                <span asp-validation-for="ProfitCenter" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="FG,DistributionChanel,IPO">
           <div class="form-group">
               <label asp-for="DistributionChannel" class="control-label"></label>
               <select asp-for="DistributionChannel" id="DistributionChannel" class="form-control" asp-items="Html.GetEnumSelectList<myapp.Models.DistributionChannel>()"><option value="">-- Select Channel --</option></select>
               <span asp-validation-for="DistributionChannel" class="text-danger"></span>
           </div>
       </div>
       <div class="col-md-4" data-types="FG,IPO,DistributionChanel" id="boi-code-container" style="display: none;">
           <div class="form-group">
               <label asp-for="BoiCode" class="control-label">BOI CODE (For Dist channel 20, 30 only)</label>
               <input asp-for="BoiCode" class="form-control" />
               <span asp-validation-for="BoiCode" class="text-danger"></span>
           </div>
       </div>
       <div class="col-md-4" data-types="RM,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="BoiDescription" class="control-label"></label>
                <input asp-for="BoiDescription" class="form-control" />
                <span asp-validation-for="BoiDescription" class="text-danger"></span>
            </div>
        </div>
         <div class="col-md-4" data-types="DistributionChanel">
            <div class="form-group">
                <label asp-for="AccountAssignment" class="control-label"></label>
                <input asp-for="AccountAssignment" class="form-control" />
                <span asp-validation-for="AccountAssignment" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="FG,SM,RM,IPO,Passthrough,CrossPlantPurchase">
             <div class="form-group">
                <label asp-for="MrpController" class="control-label"></label>
                <input asp-for="MrpController" class="form-control" />
                <span asp-validation-for="MrpController" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="FG,SM,RM,AddStorage,IPO,Passthrough,CrossPlantPurchase,DistributionChanel">
            <div class="form-group">
                <label asp-for="StorageLocation" class="control-label">Storage Location</label>
                <input asp-for="StorageLocation" class="form-control" />
                <span asp-validation-for="StorageLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="FG,RM,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="ValClass" class="control-label"></label>
                <input asp-for="ValClass" class="form-control" />
                <span asp-validation-for="ValClass" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
       <div class="col-md-4" data-types="FG,IPO">
            <div class="form-group">
                <label asp-for="ProductionSupervisor" class="control-label"></label>
                <input asp-for="ProductionSupervisor" class="form-control" />
                <span asp-validation-for="ProductionSupervisor" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="FG,RM,IPO">
            <div class="form-group">
                <label asp-for="CostingLotSize" class="control-label"></label>
                <input asp-for="CostingLotSize" class="form-control" />
                <span asp-validation-for="CostingLotSize" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="FG,RM,ToolingB,IPO,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="RM,ToolingB,IPO,Passthrough,CrossPlantPurchase">
             <div class="form-group">
                <label asp-for="PurchasingGroup" class="control-label"></label>
                <input asp-for="PurchasingGroup" class="form-control" />
                <span asp-validation-for="PurchasingGroup" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="RM,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="MakerMfrPartNumber" class="control-label"></label>
                <input asp-for="MakerMfrPartNumber" class="form-control" />
                <span asp-validation-for="MakerMfrPartNumber" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="RM,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="CommCodeTariffCode" class="control-label">Comm Code/Tariff Code</label>
                <input asp-for="CommCodeTariffCode" class="form-control" />
                <span asp-validation-for="CommCodeTariffCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="RM,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="TraffCodePercentage" class="control-label">% Tariff Code</label>
                <input asp-for="TraffCodePercentage" class="form-control" />
                <span asp-validation-for="TraffCodePercentage" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" data-types="RM,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="PriceControl" class="control-label"></label>
                <input asp-for="PriceControl" class="form-control" />
                <span asp-validation-for="PriceControl" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3">
    <div class="col-md-4" data-types="RM,Passthrough,CrossPlantPurchase">
            <div class="form-group">
                <label asp-for="SupplierCode" class="control-label"></label>
                <input asp-for="SupplierCode" class="form-control" />
                <span asp-validation-for="SupplierCode" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- Fields for specific types -->
    <div class="row g-3 mb-3">
        <div class="col-md-4" data-types="IPO">
            <div class="form-group">
                <label asp-for="TariffCode" class="control-label"></label>
                <input asp-for="TariffCode" class="form-control" />
                 <span asp-validation-for="TariffCode" class="text-danger"></span>
            </div>
        </div>
         <div class="col-md-4" data-types="IPO">
            <div class="form-group">
                <label asp-for="Planner" class="control-label"></label>
                <input asp-for="Planner" class="form-control" />
                <span asp-validation-for="Planner" class="text-danger"></span>
            </div>
        </div>
    </div>


</div>







@*EditBOM*@

<div id="bom-edit-fields-container" style="display: none;">
    <hr />
    <h4>Material Information (Edit BOM)</h4>
    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EditBomFg" class="control-label">FG</label>
                <input asp-for="EditBomFg" id="EditBomFg" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <div class="form-check mb-2">
                <input asp-for="EditBomAllFg" class="form-check-input" type="checkbox" id="EditBomAllFg" />
                <label asp-for="EditBomAllFg" class="form-check-label">All</label>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered bom-table">
            <thead>
                <tr>
                    <th>ItemCode From</th>
                    <th>Description</th>
                    <th>Item quantity From</th>
                    <th>Unit</th>
                    <th>BOM Usage</th>
                    <th>Sloc</th>
                    <th class="text-center">=&gt;</th>

                    <th>ItemCode To</th>
                    <th>Description</th>
                    <th>Item quantity To</th>
                    <th>Unit</th>
                    <th>BOM Usage</th>
                    <th>Sloc</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="bom-edit-items-body">
                @if (Model.EditBOM != null)
                {
                    @for (int i = 0; i < Model.EditBOM.Count; i++)
                    {
                        <tr>
                            <td><input asp-for="EditBOM[i].ItemCodeFrom" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].DescriptionFrom" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].ItemQuantityFrom" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].UnitFrom" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].BomUsageFrom" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].SlocFrom" class="form-control" /></td>
                            <td></td>
                            <td><input asp-for="EditBOM[i].ItemCodeTo" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].DescriptionTo" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].ItemQuantityTo" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].UnitTo" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].BomUsageTo" class="form-control" /></td>
                            <td><input asp-for="EditBOM[i].SlocTo" class="form-control" /></td>
                            <td><button type="button" class="btn btn-danger btn-sm remove-bom-item">Remove</button></td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-info btn-sm" id="add-editbom-row">+ Add BOM Change</button>
    </div>
</div>



@*BOM*@
<!-- BOM and Routing tables remain separate as they are fundamentally different inputs -->
<div id="bom-fields-container" style="display: none;">
    <hr />
    <h4>Material Information (BOM)</h4>
    <div class="table-responsive">
        <table class="table table-bordered bom-table">
            <thead>
                 <tr>
                    <th>Level</th>
                    <th>Item</th>
                    <th>Item Cat (L/T)</th>
                    <th>Component Number</th>
                    <th>Description</th>
                    <th>Item quantity</th>
                    <th>Unit</th>
                    <th>BOM Usage</th>
                    <th>Sloc</th>
                    <th>Plant</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="bom-items-body">
                @if (Model.Components != null) {
                    @for (int i = 0; i < Model.Components.Count; i++) {
                        <tr>
                            <td><input asp-for="Components[i].Level" class="form-control" /></td>
                            <td><input asp-for="Components[i].Item" class="form-control" /></td>
                            <td><input asp-for="Components[i].ItemCat" class="form-control" /></td>
                            <td><input asp-for="Components[i].ComponentNumber" class="form-control" /></td>
                            <td><input asp-for="Components[i].Description" class="form-control" /></td>
                            <td><input asp-for="Components[i].ItemQuantity" class="form-control" /></td>
                            <td><input asp-for="Components[i].Unit" class="form-control" /></td>
                            <td><input asp-for="Components[i].BomUsage" class="form-control" /></td>
                            <td><input asp-for="Components[i].Sloc" class="form-control" /></td>
                            <td><input asp-for="Components[i].Plant" class="form-control" /></td>
                            <td><button type="button" class="btn btn-danger btn-sm remove-bom-item">Remove</button></td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
    <div class="mt-2">
         <button type="button" class="btn btn-info btn-sm" id="add-parent-item">+ Add Parent (Lvl 1)</button>
         <button type="button" class="btn btn-success btn-sm" id="add-child-item">+ Add Component (Lvl 2)</button>
    </div>
</div>

@*routing*@

<div id="routing-fields-container" style="display: none;">
    <style>
        #routing-fields-container .routing-spacer-col {
            width: 28px;
            min-width: 28px;
            padding: 0.25rem;
        }
    </style>
    <hr />
    <h4>Material Information (Routing)</h4>
    <div class="table-responsive">
        <table class="table table-bordered routing-table">
            <thead>
                <tr>
                    <th>Counter</th>
                    <th>Plant</th>
                    <th>Material</th>
                    <th>Material Description</th>
                    <th>Work Center</th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th>Base Qty</th>
                    <th>Unit</th>
                    <th>Direct Labor Cost</th>
                    <th>Direct Expenses</th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th class="routing-spacer-col"></th>
                    <th>Allocation Expense</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="routing-items-body">
                 @if (Model.Routings != null) {
                    @for (int i = 0; i < Model.Routings.Count; i++) {
                        <tr>
                            <td><input asp-for="Routings[i].Counter" class="form-control" /></td>
                            <td><input asp-for="Routings[i].Plant" class="form-control" /></td>
                            <td><input asp-for="Routings[i].Material" class="form-control" /></td>
                            <td><input asp-for="Routings[i].Description" class="form-control" /></td>
                            <td><input asp-for="Routings[i].WorkCenter" class="form-control" /></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td><input asp-for="Routings[i].BaseQty" class="form-control" /></td>
                            <td><input asp-for="Routings[i].Unit" class="form-control" /></td>
                            <td><input asp-for="Routings[i].DirectLaborCosts" class="form-control" /></td>
                            <td><input asp-for="Routings[i].DirectExpenses" class="form-control" /></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td class="routing-spacer-col"></td>
                            <td><input asp-for="Routings[i].AllocationExpense" class="form-control" /></td>
                            <td><button type="button" class="btn btn-danger btn-sm remove-routing-item">Remove</button></td>
                        </tr>
                    }
                 }
            </tbody>
        </table>
    </div>
    <div class="mt-2">
        <button type="button" class="btn btn-sm text-white" id="add-routing-item" style="background-color: #f97316; border-color: #f97316;">+ Add Routing</button>
    </div>
</div>

<div id="license-permission-fields-container" style="display: none;">
    <hr />
    <h4>สิทธิ์การใช้งาน SAP</h4>
    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="LicenseRequestOption" class="control-label">ประเภทคำร้องขอ</label>
                <select id="LicenseRequestOption" name="LicenseRequestOption" class="form-select">
                    <option value="">-- กรุณาเลือก --</option>
                    <option value="NewUsername">ขอ Username ใหม่</option>
                    <option value="AddPermission">ขอเพิ่มสิทธิ์การใช้งาน</option>
                </select>
            </div>
        </div>
    </div>
    <div id="license-new-username-fields" style="display: none;">
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LicenseUsernameFrom" class="control-label">Username From</label>
                    <input type="text" id="LicenseUsernameFrom" name="LicenseUsernameFrom" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LicenseUsernameTo" class="control-label">Username To</label>
                    <input type="text" id="LicenseUsernameTo" name="LicenseUsernameTo" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div id="license-add-permission-fields" style="display: none;">
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LicensePrimaryUsername" class="control-label">Username SAP 1</label>
                    <input type="text" id="LicensePrimaryUsername" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LicenseSecondaryUsername" class="control-label">Username SAP 2</label>
                    <input type="text" id="LicenseSecondaryUsername" class="form-control" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>T Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="license-permission-items-body">
                    @if (Model.LicensePermissions != null)
                    {
                        @for (int i = 0; i < Model.LicensePermissions.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" class="license-permission-username" asp-for="LicensePermissions[i].SapUsername" />
                                    <input asp-for="LicensePermissions[i].TCode" class="form-control" />
                                </td>
                                <td><button type="button" class="btn btn-danger btn-sm remove-license-permission-item">Remove</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-primary btn-sm" id="add-license-permission-item">+ Add Row</button>
        </div>
    </div>
</div>
